body{
    background: yellow;
}
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
.mb20{
    margin-bottom:20px;
}
#timer .countdown-wrapper {
    margin: 0 auto;
}
#timer #countdown {
    font-family: 'Lato', sans-serif;
    color: grey;
}
#timer .countdown-wrapper #countdown .timer {
    
    font-size: 48px;
}
#timer .col-md-4.countdown-wrapper #countdown .timer {
    
    font-size: 5px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    #timer .countdown-wrapper #countdown .timer {
        
        font-size: 36px;
        cursor: pointer;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
     #timer .countdown-wrapper #countdown .timer {
        
        font-size: 32px;
        cursor: pointer;
    }
}
@media (max-width: 768px) {
    #timer .countdown-wrapper #countdown .timer {
        
        font-size: 32px;
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    #timer .countdown-wrapper #countdown #hour,
    #timer .countdown-wrapper #countdown #min,
    #timer .countdown-wrapper #countdown #sec {
        font-size: 33px;
        border-radius: 4%;
    }
}
@media (max-width: 576px){
    #timer .countdown-wrapper #countdown #hour,
    #timer .countdown-wrapper #countdown #min,
    #timer .countdown-wrapper #countdown #sec {
        font-size: 7px;
        border-radius: 4%;
    }
    
}