div.menu
{
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

div.menu a
{
	color: #FFF;
	text-decoration: none;
	font: 20px;
	margin: 0px 12px;
	padding: 5px 10px;
	position: relative;
	z-index: 0;
	cursor: pointer;
}
/*topbottomborderin*/
div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
	position: absolute;
	left: 0px;
	width: 100%;
	background: #FFF;
	content: "";
	opacity: 0;
	transition: all 0.3s;
}

div.pullUp a:before
{
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0px;
	bottom: 0px;
	content: '';
	background: #FFF;
	opacity: 0.3;
	transition: all 0.3s;
}

div.pullUp a:hover:before
{
	height: 100%;
}