body{
    background: #eff0f5;
}

/*=========================================================
LOGIN
===========================================================*/
.form-login{
    margin-top: 1%;
}
.outter-form-login {
    padding: 35px;
    padding-top: 5px;
    background: white;
    position: relative;
    border-radius: 5px;
}
/*.logo-login {
    position: absolute;
    font-size: 35px;
    background: #21A957;
    color: #FFFFFF;
    padding: 10px 18px;
    top: -40px;
    border-radius: 50%;
    left: 40%;
}*/
.inner-login .form-control {
    background: #D3D3D3;
}
h3.title-login {
    font-size: 20px;
    margin-bottom: 20px;
}

.forget {
    margin-top: 20px;
    color: #ADADAD;
}
.btn-custom-coklat {
    background: #d69962;
    color: #e8ebef;
}
/*=========================================================
REGISTRASI
===========================================================*/
.form-regis{
    margin-top: 0%;
}
.outter-form-regis {
    padding: 50px;
    padding-top: 5px;
    background: white;
    position: relative;
    border-radius: 5px;
    padding-bottom: 65px;
}

.inner-regis .form-regis {
    background: #D3D3D3;
}
h2.title-regis {
    margin-top: 20px;
    font-weight: bold;
}

.forget {
    margin-top: 20px;
    color: #ADADAD;
}
.btn-custom-coklat {
    background: #d69962;
    color: #e8ebef;
}
.tombolregis{
  color: white;
  size: 10%;
}
h6{
  margin-top: 4%;
}
input[type=submit] {
  border: none; /*rewriting standard style, it is necessary to be able to change the size*/
  height: 50px;
  width: 400px
}
/*=========================================================
FOOTER
===========================================================*/
#footer {
  background: #e3e4e6;
  color: #15161D;
}

#bottom-footer {
  background: #e3e4e6;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: #15161D;
  text-transform: uppercase;
  margin: 0px 0px 10px;
}

.footer-links li+li {
  margin-top: 15px;
}

.footer-links li a {
  color: #15161D;
}

.footer-links li i {
  margin-right: 15px;
  color: #D10024;
  width: 14px;
  text-align: center;
}

.footer-links li a:hover {
  color: #D69962;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  font-size: 12px;
}

.footer-payments li {
  display: inline-block;
  margin-right: 5px;
}

.footer-payments{
  margin-left: 15%;
}

.footer-payments li a {
  color: #15161D;
  font-size: 36px;
  display: block;
}

@media only screen and (min-width: 992px) {
  .footer-payments li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 120px;
  }
}
@media only screen and (max-width: 300px) {
  .footer-payments li {
    display: inline-block;
    margin-left: 5%;
  }
}


/*=========================================================
sidenav
===========================================================*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidenav a {
  padding:  4%;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

.mysidenav {
  min-width: 250px;
  max-width: 250px;
  background: #000;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active{
  margin-left: -250px;
}

.sidebar-header{
  padding: 10px;
  background: #000;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*=========================================================
HEADER
===========================================================*/

#top-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1E1F29;
}

.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
}

.header-links li:last-child {
  margin-right: 0px;
}

.header-links li a {
  color: #FFF;
}

.header-links li a:hover {
  color: #D10024;
}

.header-links li i {
  color: #D10024;
  margin-right: 5px;
}
@media only screen and (max-width: 768px) {
  .row a {
    margin-left: 0px;
    font-size: 10px;
    padding: 0px;
  }
  .col {
    width: 50%;
  }
}
/*----------------------------*\
  Logo
\*----------------------------*/

#header {
  padding-top: 55px;
  background-color: grey;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: block;
}

/*----------------------------*\
  Search
\*----------------------------*/

header-search {
  padding: 1px 0px;
}

.header-search form {
  position: relative;
}

.header-search form .input-select {
  margin-right: -4px;
  border-radius: 40px 0px 0px 40px;
}

.header-search form .input {
  width: calc(100% - 60px);
  margin-right: -4px;
}

/*=========================================================
RIWAYAT BELANJA
===========================================================*/
.outter-form {
    padding: 35px;
    padding-top: 5px;
    background: white;
    border-radius: 5px;
}
.form-riwayat{
    margin-top: 1%;
}
.rili {
  list-style-type:none;
}

/*=========================================================
SELENGKAPNYA MANDIRI
===========================================================*/
input {
    display: none;
  }

  label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 4px;
    background: #336600;
    color: #FFF;
  }

  label:hover {
    background: #33CC00;
    color: #000;
  }

  .test {
    -webkit-transition: height .3s ease;
    height: 0;
    overflow: hidden;
  }

  input:checked + .test {
    height: 100%;
  }